[workspace]
members = [
    "lindera",
    "lindera-analyzer",
    "lindera-assets",
    "lindera-dictionary-builder",
    "lindera-cc-cedict",
    "lindera-cc-cedict-builder",
    "lindera-cli",
    "lindera-compress",
    "lindera-core",
    "lindera-decompress",
    "lindera-dictionary",
    "lindera-filter",
    "lindera-ipadic",
    "lindera-ipadic-builder",
    "lindera-ipadic-neologd",
    "lindera-ipadic-neologd-builder",
    "lindera-ko-dic",
    "lindera-ko-dic-builder",
    "lindera-tokenizer",
    "lindera-unidic",
    "lindera-unidic-builder",
]
resolver = "2"

[workspace.dependencies]
lindera = { version = "0.32.3", path = "lindera" }
lindera-analyzer = { version = "0.32.3", path = "lindera-analyzer" }
lindera-assets = { version = "0.32.3", path = "lindera-assets" }
lindera-dictionary-builder = { version = "0.32.3", path = "lindera-dictionary-builder" }
lindera-cc-cedict = { version = "0.32.3", path = "lindera-cc-cedict" }
lindera-cc-cedict-builder = { version = "0.32.3", path = "lindera-cc-cedict-builder" }
lindera-cli = { version = "0.32.3", path = "lindera-cli" }
lindera-compress = { version = "0.32.3", path = "lindera-compress" }
lindera-core = { version = "0.32.3", path = "lindera-core" }
lindera-decompress = { version = "0.32.3", path = "lindera-decompress" }
lindera-dictionary = { version = "0.32.3", path = "lindera-dictionary" }
lindera-filter = { version = "0.32.3", path = "lindera-filter" }
lindera-ipadic = { version = "0.32.3", path = "lindera-ipadic" }
lindera-ipadic-builder = { version = "0.32.3", path = "lindera-ipadic-builder" }
lindera-ipadic-neologd = { version = "0.32.3", path = "lindera-ipadic-neologd" }
lindera-ipadic-neologd-builder = { version = "0.32.3", path = "lindera-ipadic-neologd-builder" }
lindera-ko-dic = { version = "0.32.3", path = "lindera-ko-dic" }
lindera-ko-dic-builder = { version = "0.32.3", path = "lindera-ko-dic-builder" }
lindera-tokenizer = { version = "0.32.3", path = "lindera-tokenizer" }
lindera-unidic = { version = "0.32.3", path = "lindera-unidic" }
lindera-unidic-builder = { version = "0.32.3", path = "lindera-unidic-builder" }

anyhow = "1.0.81"
bincode = "1.3.3"
byteorder = "1.5.0"
clap = { version = "4.5.3", features = ["derive", "cargo"] }
criterion = { version = "0.5.1", features = ["html_reports"] }
csv = "1.3.0"
encoding = "0.2.33"
encoding_rs = "0.8.33"
encoding_rs_io = "0.1.7"
flate2 = "1.0.28"
glob = "0.3.1"
kanaria = "0.2.0"
log = "0.4.21"
once_cell = "1.19.0"
rand = "0.8.5"
regex = "1.10.3"
serde = { version = "1.0.197", features = ["derive"] }
serde_json = "1.0.114"
strum = { version = "0.26.2", features = ["derive"] }
strum_macros = "0.26.2"
tar = "0.4.40"
thiserror = "1.0.58"
unicode-blocks = "0.1.9"
unicode-normalization = "0.1.23"
unicode-segmentation = "1.11.0"
ureq = { version = "2.9.6", default-features = false, features = ["tls"] }
yada = "0.5.1"
derive_builder = "0.20.0"


[profile.release]
lto = true

# Make sure that the build scripts and proc-macros are compiled with
# all the optimizations. It speeds up the flate2 crate that we use in our build scripts.
[profile.dev.build-override]
opt-level = 3
[profile.release.build-override]
opt-level = 3
[profile.bench.build-override]
opt-level = 3
[profile.test.build-override]
opt-level = 3
