[workspace]
members = [
    "lindera-dictionary",
    "lindera-cc-cedict",
    "lindera-ipadic",
    "lindera-ipadic-neologd",
    "lindera-ko-dic",
    "lindera-unidic",
    "lindera",
    "lindera-cli",
]
resolver = "2"

[workspace.dependencies]
lindera-dictionary = { version = "0.42.2", path = "lindera-dictionary", default-features = false }
lindera-cc-cedict = { version = "0.42.2", path = "lindera-cc-cedict" }
lindera-ipadic = { version = "0.42.2", path = "lindera-ipadic" }
lindera-ipadic-neologd = { version = "0.42.2", path = "lindera-ipadic-neologd" }
lindera-ko-dic = { version = "0.42.2", path = "lindera-ko-dic" }
lindera-unidic = { version = "0.42.2", path = "lindera-unidic" }
lindera = { version = "0.42.2", path = "lindera" }
lindera-cli = { version = "0.42.2", path = "lindera-cli" }

anyhow = "1.0.98"
bincode = "1.3.3"
byteorder = "1.5.0"
clap = { version = "4.5.37", features = ["derive", "cargo"] }
criterion = { version = "0.5.1", default-features = false, features = [
    "html_reports",
] }
csv = "1.3.1"
derive_builder = "0.20.2"
encoding = "0.2.33"
encoding_rs = "0.8.35"
encoding_rs_io = "0.1.7"
flate2 = "1.1.0"
glob = "0.3.2"
kanaria = "0.2.0"
log = "0.4.27"
md5 = "0.7.0"
memmap2 = "0.9.5"
once_cell = "1.21.3"
rand = { version = "0.9.1", default-features = false, features = [
    "small_rng",
] } # Specify `default-features` and `features` to support WebAssembly
regex = "1.11.1"
reqwest = "0.12.15"
serde = { version = "1.0.219", features = ["derive"] }
serde_json = "1.0.140"
serde_yaml = "0.9.34"
strum = { version = "0.27.1", features = ["derive"] }
strum_macros = "0.27.1"
tar = "0.4.44"
thiserror = "2.0.12"
tokio = { version = "1.44.2", features = [
    "rt",
    "macros",
    "time",
    "sync",
    "io-util",
] }
unicode-blocks = "0.1.9"
unicode-normalization = "0.1.24"
unicode-segmentation = "1.11.0"
yada = "0.5.1"

[profile.release]
lto = true

# Make sure that the build scripts and proc-macros are compiled with
# all the optimizations. It speeds up the flate2 crate that we use in our build scripts.
[profile.dev.build-override]
opt-level = 3
[profile.release.build-override]
opt-level = 3
[profile.bench.build-override]
opt-level = 3
[profile.test.build-override]
opt-level = 3
