[workspace]
members = [
    "lindera-dictionary",
    "lindera-cc-cedict",
    "lindera-ipadic",
    "lindera-ipadic-neologd",
    "lindera-ko-dic",
    "lindera-unidic",
    "lindera",
    "lindera-cli",
]
resolver = "2"

[workspace.package]
version = "1.5.0"
edition = "2024"
description = "A morphological analysis libraries and command line interface."
documentation = "https://docs.rs/lindera"
homepage = "https://github.com/lindera/lindera"
repository = "https://github.com/lindera/lindera"
readme = "README.md"
keywords = ["morphological", "analysis", "library", "dictionary", "cli"]
categories = ["text-processing"]
license = "MIT"

[workspace.dependencies]
lindera-dictionary = { version = "1.5.0", path = "lindera-dictionary" }
lindera-cc-cedict = { version = "1.5.0", path = "lindera-cc-cedict" }
lindera-ipadic = { version = "1.5.0", path = "lindera-ipadic" }
lindera-ipadic-neologd = { version = "1.5.0", path = "lindera-ipadic-neologd" }
lindera-ko-dic = { version = "1.5.0", path = "lindera-ko-dic" }
lindera-unidic = { version = "1.5.0", path = "lindera-unidic" }
lindera = { version = "1.5.0", path = "lindera" }

anyhow = "1.0.100"
byteorder = "1.5.0"
clap = { version = "4.5.53", features = ["derive", "cargo"] }
criterion = { version = "0.8.1", default-features = false, features = [
    "html_reports",
] }
csv = "1.4.0"
derive_builder = "0.20.2"
encoding = "0.2.33"
encoding_rs = "0.8.35"
encoding_rs_io = "0.1.7"
flate2 = "1.1.5"
glob = "0.3.3"
kanaria = "0.2.0"
log = "0.4.29"
md5 = "0.8.0"
memmap2 = "0.9.9"
num_cpus = "1.17.0"
once_cell = "1.21.3"
percent-encoding = "2.3.2"
rand = { version = "0.9.2", default-features = false, features = [
    "small_rng",
] } # Specify `default-features` and `features` to support WebAssembly
regex = "1.12.2"
reqwest = { version = "0.12.28", features = [
    "rustls-tls",
], default-features = false }
rkyv = { version = "0.8.12", features = ["bytecheck"] }
rucrf = "0.3.3"
serde = { version = "1.0.228", features = ["derive"] }
serde_json = "1.0.148"
serde_yaml_ng = "0.10.0"
strum = { version = "0.27.2", features = ["derive"] }
strum_macros = "0.27.2"
tar = "0.4.44"
thiserror = "2.0.17"
tokio = { version = "1.48.0", features = [
    "rt",
    "macros",
    "time",
    "sync",
    "io-util",
] }
unicode-blocks = "0.1.9"
unicode-normalization = "0.1.25"
unicode-segmentation = "1.12.0"
url = "2.5.7"
yada = "0.5.1"

[profile.release]
lto = true

# Make sure that the build scripts and proc-macros are compiled with
# all the optimizations. It speeds up the flate2 crate that we use in our build scripts.
[profile.dev.build-override]
opt-level = 3
[profile.release.build-override]
opt-level = 3
[profile.bench.build-override]
opt-level = 3
[profile.test.build-override]
opt-level = 3
