[package]
name = "lindera-unidic"
version = "0.32.0"
edition = "2021"
description = "A Japanese morphological dictionary for UniDic."
documentation = "https://docs.rs/lindera-unidic"
homepage = "https://github.com/lindera-morphology/lindera"
repository = "https://github.com/lindera-morphology/lindera"
readme = "README.md"
keywords = ["japanese", "morphological", "dictionary", "unidic"]
categories = ["text-processing"]
license = "MIT"

[features]
unidic = ["lindera-assets"]
compress = ["lindera-unidic-builder/compress", "lindera-decompress"]

[dependencies]
bincode.workspace = true
byteorder.workspace = true
once_cell.workspace = true

lindera-core.workspace = true
lindera-decompress = { workspace = true, optional = true }

[build-dependencies]
lindera-assets = { workspace = true, optional = true }

lindera-unidic-builder.workspace = true
