[package]
name = "lindera"
version = { workspace = true }
edition = { workspace = true }
description = "A morphological analysis library."
documentation = "https://docs.rs/lindera"
homepage = { workspace = true }
repository = { workspace = true }
readme = "README.md"
keywords = ["morphological", "analysis", "library"]
categories = { workspace = true }
license = { workspace = true }

[features]
embed-ipadic = [
    "lindera-ipadic/embed-ipadic",
] # Embed IPADIC dictionary in the binary
embed-ipadic-neologd = [
    "lindera-ipadic-neologd/embed-ipadic-neologd",
] # Embed IPADIC-NEologd dictionary in the binary
embed-unidic = [
    "lindera-unidic/embed-unidic",
] # Embed UniDic dictionary in the binary
embed-ko-dic = [
    "lindera-ko-dic/embed-ko-dic",
] # Embed ko-dic dictionary in the binary
embed-cc-cedict = [
    "lindera-cc-cedict/embed-cc-cedict",
] # Embed CC-CEDICT dictionary in the binary
embed-cjk = [
    "embed-ipadic",
    "embed-ko-dic",
    "embed-cc-cedict",
] # Embed CJK dictionaries (IPADIC, ko-dic, CC-CEDICT) in the binary
embed-cjk2 = [
    "embed-unidic",
    "embed-ko-dic",
    "embed-cc-cedict",
] # Embed CJK dictionaries (UniDic, ko-dic, CC-CEDICT) in the binary
embed-cjk3 = [
    "embed-ipadic-neologd",
    "embed-ko-dic",
    "embed-cc-cedict",
] # Embed CJK dictionaries (IPADIC NEologd, ko-dic, CC-CEDICT) in the binary
compress = [
    "lindera-dictionary/compress",
    "lindera-ipadic?/compress",
    "lindera-ipadic-neologd?/compress",
    "lindera-unidic?/compress",
    "lindera-ko-dic?/compress",
    "lindera-cc-cedict?/compress",
] # Compress dictionaries
mmap = ["lindera-dictionary/mmap"] # Use memory-mapped file
train = ["lindera-dictionary/train"] # Enable training functionality
default = ["compress", "mmap"]

[dependencies]
anyhow = { workspace = true }
byteorder = { workspace = true }
csv = { workspace = true }
daachorse = { workspace = true }
kanaria = { workspace = true }
log = { workspace = true }
once_cell = { workspace = true }
percent-encoding = { workspace = true }
regex = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
serde_yaml_ng = { workspace = true }
strum = { workspace = true }
strum_macros = { workspace = true }
unicode-blocks = { workspace = true }
unicode-normalization = { workspace = true }
unicode-segmentation = { workspace = true }
url = { workspace = true }

lindera-dictionary = { workspace = true }
lindera-ipadic = { workspace = true, optional = true }
lindera-ipadic-neologd = { workspace = true, optional = true }
lindera-unidic = { workspace = true, optional = true }
lindera-ko-dic = { workspace = true, optional = true }
lindera-cc-cedict = { workspace = true, optional = true }


[dev-dependencies]
serde_json = { workspace = true }
criterion = { workspace = true }

[[bench]]
name = "bench_ipadic"
harness = false
required-features = ["embed-ipadic"]

[[bench]]
name = "bench_unidic"
harness = false
required-features = ["embed-unidic"]

[[bench]]
name = "bench_ko_dic"
harness = false
required-features = ["embed-ko-dic"]

[[bench]]
name = "bench_cc_cedict"
harness = false
required-features = ["embed-cc-cedict"]

[[bench]]
name = "bench_ipadic_neologd"
harness = false
required-features = ["embed-ipadic-neologd"]
