[package]
name = "lindera"
version = "0.42.2"
edition = "2021"
description = "A morphological analysis library."
documentation = "https://docs.rs/lindera"
homepage = "https://github.com/lindera-morphology/lindera"
repository = "https://github.com/lindera-morphology/lindera"
readme = "README.md"
keywords = ["morphological", "analysis", "library"]
categories = ["text-processing"]
license = "MIT"

[features]
default = [] # No directories included
ipadic = ["lindera-ipadic/ipadic"] # Include IPADIC dictionary (Japanese)
ipadic-neologd = [
    "lindera-ipadic-neologd/ipadic-neologd",
] # Include IPADIC NEologd dictionary (Japanese)
unidic = ["lindera-unidic/unidic"] # Include UniDic dictionary (Japanese)
ko-dic = ["lindera-ko-dic/ko-dic"] # Include ko-dic dictionary (Korean)
cc-cedict = [
    "lindera-cc-cedict/cc-cedict",
] # Include CC-CEDICT dictionary (Chinese)
cjk = ["ipadic", "ko-dic", "cc-cedict"] # Include CJK dictionaries
cjk2 = ["unidic", "ko-dic", "cc-cedict"] # Include CJK dictionaries
cjk3 = ["ipadic-neologd", "ko-dic", "cc-cedict"] # Include CJK dictionaries
compress = [
    "lindera-dictionary/compress",
    "lindera-ipadic/compress",
    "lindera-ipadic-neologd/compress",
    "lindera-unidic/compress",
    "lindera-ko-dic/compress",
    "lindera-cc-cedict/compress",
] # Compress dictionaries
memmap = ["lindera-dictionary/memmap"]

[dependencies]
anyhow.workspace = true
bincode.workspace = true
byteorder.workspace = true
csv.workspace = true
kanaria.workspace = true
once_cell.workspace = true
regex.workspace = true
serde.workspace = true
serde_json.workspace = true
serde_yaml.workspace = true
strum.workspace = true
strum_macros.workspace = true
unicode-blocks.workspace = true
unicode-normalization.workspace = true
unicode-segmentation.workspace = true
yada.workspace = true

lindera-dictionary = { workspace = true, default-features = false }
lindera-cc-cedict = { workspace = true, optional = true }
lindera-ipadic = { workspace = true, optional = true }
lindera-ipadic-neologd = { workspace = true, optional = true }
lindera-ko-dic = { workspace = true, optional = true }
lindera-unidic = { workspace = true, optional = true }

[dev-dependencies]
serde_json.workspace = true
criterion.workspace = true
once_cell.workspace = true

[[bench]]
name = "bench"
harness = false
