[package]
name = "lindera-ko-dic"
version = "0.43.2"
edition = "2021"
description = "A Japanese morphological dictionary for ko-dic."
documentation = "https://docs.rs/lindera-ko-dic"
homepage = "https://github.com/lindera/lindera"
repository = "https://github.com/lindera/lindera"
readme = "README.md"
keywords = ["korean", "morphological", "dictionary", "ko-dic"]
categories = ["text-processing"]
license = "MIT"

[features]
ko-dic = []
compress = ["lindera-dictionary/compress"]

[dependencies]
bincode.workspace = true
byteorder.workspace = true
once_cell.workspace = true

lindera-dictionary.workspace = true

[build-dependencies]
tokio.workspace = true
lindera-dictionary = { workspace = true, features = ["build_rs"] }
