name: Release

on:
  workflow_dispatch:
  push:
    tags:
      - "v*.*.*"

jobs:
  release:
    name: Build
    strategy:
      matrix:
        target:
          - x86_64-unknown-linux-gnu
          - x86_64-pc-windows-msvc
          - x86_64-apple-darwin
        include:
          - os: ubuntu-latest
            archive: .zip
            extension: ""
          - os: windows-latest
            archive: .zip
            extension: .exe
          - os: macos-latest
            archive: .zip
            extension: ""
        toolchain: [stable]
        feature: [ipadic, ko-dic, cc-cedict]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Run checkout
        uses: actions/checkout@v4

      - name: Cache ~/.cargo/registry
        uses: actions/cache@v3
        with:
          path: ~/.cargo/registry
          key: ${{ runner.os }}-cargo-registry-${{ hashFiles('**/Cargo.lock') }}

      - name: Cache ~/.cargo/git
        uses: actions/cache@v3
        with:
          path: ~/.cargo/git
          key: ${{ runner.os }}-cargo-index-${{ hashFiles('**/Cargo.lock') }}

      - name: Cache target
        uses: actions/cache@v3
        with:
          path: target
          key: ${{ runner.os }}-cargo-build-target-${{ hashFiles('**/Cargo.lock') }}

      - name: Install toolchain
        uses: dtolnay/rust-toolchain@v1
        with:
          toolchain: ${{ matrix.toolchain }}

      - name: Compile
        run: cargo build --release --features=${{ matrix.feature }} --target=${{ matrix.target }} --target-dir=target/${{ matrix.feature }}

      - name: Create artifact for Linux
        if: matrix.os == 'ubuntu-latest'
        run: zip --junk-paths lindera-${{ matrix.feature }}-${{ matrix.target }}-${{ github.ref_name }}${{ matrix.archive }} target/${{ matrix.feature }}/${{ matrix.target }}/release/lindera${{ matrix.extension }}

      - name: Create artifact for Windows
        if: matrix.os == 'windows-latest'
        run: powershell Compress-Archive -DestinationPath lindera-${{ matrix.feature }}-${{ matrix.target }}-${{ github.ref_name }}${{ matrix.archive }} -Path target/${{ matrix.feature }}/${{ matrix.target }}/release/lindera${{ matrix.extension }}

      - name: Create artifact for OSX
        if: matrix.os == 'macos-latest'
        run: zip --junk-paths lindera-${{ matrix.feature }}-${{ matrix.target }}-${{ github.ref_name }}${{ matrix.archive }} target/${{ matrix.feature }}/${{ matrix.target }}/release/lindera${{ matrix.extension }}

      - name: Upload artifact
        uses: softprops/action-gh-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          files: lindera-${{ matrix.feature }}-${{ matrix.target }}-${{ github.ref_name }}${{ matrix.archive }}

  publish-crates:
    name: Publish crate
    strategy:
      matrix:
        os: [ubuntu-latest]
        toolchain: [stable]
    needs: [release]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install toolchain
        uses: dtolnay/rust-toolchain@v1
        with:
          toolchain: ${{ matrix.toolchain }}
          components: rustfmt, clippy

      - name: Publish lindera-core
        run: |
          LINDERA_CORE_VERSION=$(cargo metadata --no-deps --format-version=1 | jq -r '.packages[] | select(.name=="lindera-core") | .version')
          LINDERA_CORE_VERSIONS=$(curl -s -XGET https://crates.io/api/v1/crates/lindera-core | jq -r 'select(.versions != null) | .versions[].num')
          if echo ${LINDERA_CORE_VERSIONS} | grep ${LINDERA_CORE_VERSION} >/dev/null; then
            echo "lindera-core ${LINDERA_CORE_VERSION} has already published"
          else
            pushd lindera-core
            cargo publish --token ${{ secrets.CRATES_TOKEN }}
            popd
          fi
          sleep 20

      - name: Publish lindera-decompress
        run: |
          LINDERA_DECOMPRESS_VERSION=$(cargo metadata --no-deps --format-version=1 | jq -r '.packages[] | select(.name=="lindera-decompress") | .version')
          LINDERA_DECOMPRESS_VERSIONS=$(curl -s -XGET https://crates.io/api/v1/crates/lindera-decompress | jq -r 'select(.versions != null) | .versions[].num')
          if echo ${LINDERA_DECOMPRESS_VERSIONS} | grep ${LINDERA_DECOMPRESS_VERSION} >/dev/null; then
            echo "lindera-decompress ${LINDERA_DECOMPRESS_VERSION} has already published"
          else
            pushd lindera-decompress
            cargo publish --token ${{ secrets.CRATES_TOKEN }}
            popd
          fi
          sleep 20

      - name: Publish lindera-compress
        run: |
          LINDERA_COMPRESS_VERSION=$(cargo metadata --no-deps --format-version=1 | jq -r '.packages[] | select(.name=="lindera-compress") | .version')
          LINDERA_COMPRESS_VERSIONS=$(curl -s -XGET https://crates.io/api/v1/crates/lindera-compress | jq -r 'select(.versions != null) | .versions[].num')
          if echo ${LINDERA_COMPRESS_VERSIONS} | grep ${LINDERA_COMPRESS_VERSION} >/dev/null; then
            echo "lindera-compress ${LINDERA_COMPRESS_VERSION} has already published"
          else
            pushd lindera-compress
            cargo publish --token ${{ secrets.CRATES_TOKEN }}
            popd
          fi
          sleep 20

      - name: Publish lindera-ipadic-builder
        run: |
          LINDERA_IPADIC_BUILDER_VERSION=$(cargo metadata --no-deps --format-version=1 | jq -r '.packages[] | select(.name=="lindera-ipadic-builder") | .version')
          LINDERA_IPADIC_BUILDER_VERSIONS=$(curl -s -XGET https://crates.io/api/v1/crates/lindera-ipadic-builder | jq -r 'select(.versions != null) | .versions[].num')
          if echo ${LINDERA_IPADIC_BUILDER_VERSIONS} | grep ${LINDERA_IPADIC_BUILDER_VERSION} >/dev/null; then
            echo "lindera-ipadic-builder ${LINDERA_IPADIC_BUILDER_VERSION} has already published"
          else
            pushd lindera-ipadic-builder
            cargo publish --token ${{ secrets.CRATES_TOKEN }}
            popd
          fi
          sleep 20

      - name: Publish lindera-ipadic
        run: |
          LINDERA_IPADIC_VERSION=$(cargo metadata --no-deps --format-version=1 | jq -r '.packages[] | select(.name=="lindera-ipadic") | .version')
          LINDERA_IPADIC_VERSIONS=$(curl -s -XGET https://crates.io/api/v1/crates/lindera-ipadic | jq -r 'select(.versions != null) | .versions[].num')
          if echo ${LINDERA_IPADIC_VERSIONS} | grep ${LINDERA_IPADIC_VERSION} >/dev/null; then
            echo "lindera-ipadic ${LINDERA_IPADIC_VERSION} has already published"
          else
            pushd lindera-ipadic
            cargo publish --token ${{ secrets.CRATES_TOKEN }}
            popd
          fi
          sleep 20

      - name: Publish lindera-ipadic-neologd-builder
        run: |
          LINDERA_IPADIC_NEOLOGD_BUILDER_VERSION=$(cargo metadata --no-deps --format-version=1 | jq -r '.packages[] | select(.name=="lindera-ipadic-neologd-builder") | .version')
          LINDERA_IPADIC_NEOLOGD_BUILDER_VERSIONS=$(curl -s -XGET https://crates.io/api/v1/crates/lindera-ipadic-neologd-builder | jq -r 'select(.versions != null) | .versions[].num')
          if echo ${LINDERA_IPADIC_NEOLOGD_BUILDER_VERSIONS} | grep ${LINDERA_IPADIC_NEOLOGD_BUILDER_VERSION} >/dev/null; then
            echo "lindera-ipadic-neologd-builder ${LINDERA_IPADIC_NEOLOGD_BUILDER_VERSION} has already published"
          else
            pushd lindera-ipadic-neologd-builder
            cargo publish --token ${{ secrets.CRATES_TOKEN }}
            popd
          fi
          sleep 20

      - name: Publish lindera-ipadic-neologd
        run: |
          LINDERA_IPADIC_NEOLOGD_VERSION=$(cargo metadata --no-deps --format-version=1 | jq -r '.packages[] | select(.name=="lindera-ipadic-neologd") | .version')
          LINDERA_IPADIC_NEOLOGD_VERSIONS=$(curl -s -XGET https://crates.io/api/v1/crates/lindera-ipadic-neologd | jq -r 'select(.versions != null) | .versions[].num')
          if echo ${LINDERA_IPADIC_NEOLOGD_VERSIONS} | grep ${LINDERA_IPADIC_NEOLOGD_VERSION} >/dev/null; then
            echo "lindera-ipadic-neologd ${LINDERA_IPADIC_NEOLOGD_VERSION} has already published"
          else
            pushd lindera-ipadic-neologd
            cargo publish --token ${{ secrets.CRATES_TOKEN }}
            popd
          fi
          sleep 20

      - name: Publish lindera-unidic-builder
        run: |
          LINDERA_UNIDIC_BUILDER_VERSION=$(cargo metadata --no-deps --format-version=1 | jq -r '.packages[] | select(.name=="lindera-unidic-builder") | .version')
          LINDERA_UNIDIC_BUILDER_VERSIONS=$(curl -s -XGET https://crates.io/api/v1/crates/lindera-unidic-builder | jq -r 'select(.versions != null) | .versions[].num')
          if echo ${LINDERA_UNIDIC_BUILDER_VERSIONS} | grep ${LINDERA_UNIDIC_BUILDER_VERSION} >/dev/null; then
            echo "lindera-unidic-builder ${LINDERA_UNIDIC_BUILDER_VERSION} has already published"
          else
            pushd lindera-unidic-builder
            cargo publish --token ${{ secrets.CRATES_TOKEN }}
            popd
          fi
          sleep 20

      - name: Publish lindera-unidic
        run: |
          LINDERA_UNIDIC_VERSION=$(cargo metadata --no-deps --format-version=1 | jq -r '.packages[] | select(.name=="lindera-unidic") | .version')
          LINDERA_UNIDIC_VERSIONS=$(curl -s -XGET https://crates.io/api/v1/crates/lindera-unidic | jq -r 'select(.versions != null) | .versions[].num')
          if echo ${LINDERA_UNIDIC_VERSIONS} | grep ${LINDERA_UNIDIC_VERSION} >/dev/null; then
            echo "lindera-unidic ${LINDERA_UNIDIC_VERSION} has already published"
          else
            pushd lindera-unidic
            cargo publish --token ${{ secrets.CRATES_TOKEN }}
            popd
          fi
          sleep 20

      - name: Publish lindera-ko-dic-builder
        run: |
          LINDERA_KO_DIC_BUILDER_VERSION=$(cargo metadata --no-deps --format-version=1 | jq -r '.packages[] | select(.name=="lindera-ko-dic-builder") | .version')
          LINDERA_KO_DIC_BUILDER_VERSIONS=$(curl -s -XGET https://crates.io/api/v1/crates/lindera-ko-dic-builder | jq -r 'select(.versions != null) | .versions[].num')
          if echo ${LINDERA_KO_DIC_BUILDER_VERSIONS} | grep ${LINDERA_KO_DIC_BUILDER_VERSION} >/dev/null; then
            echo "lindera-ko-dic-builder ${LINDERA_KO_DIC_BUILDER_VERSION} has already published"
          else
            pushd lindera-ko-dic-builder
            cargo publish --token ${{ secrets.CRATES_TOKEN }}
            popd
          fi
          sleep 20

      - name: Publish lindera-ko-dic
        run: |
          LINDERA_KO_DIC_VERSION=$(cargo metadata --no-deps --format-version=1 | jq -r '.packages[] | select(.name=="lindera-ko-dic") | .version')
          LINDERA_KO_DIC_VERSIONS=$(curl -s -XGET https://crates.io/api/v1/crates/lindera-ko-dic | jq -r 'select(.versions != null) | .versions[].num')
          if echo ${LINDERA_KO_DIC_VERSIONS} | grep ${LINDERA_KO_DIC_VERSION} >/dev/null; then
            echo "lindera-ko-dic ${LINDERA_KO_DIC_VERSION} has already published"
          else
            pushd lindera-ko-dic
            cargo publish --token ${{ secrets.CRATES_TOKEN }}
            popd
          fi
          sleep 20

      - name: Publish lindera-cc-cedict-builder
        run: |
          LINDERA_CC_CEDICT_BUILDER_VERSION=$(cargo metadata --no-deps --format-version=1 | jq -r '.packages[] | select(.name=="lindera-cc-cedict-builder") | .version')
          LINDERA_CC_CEDICT_BUILDER_VERSIONS=$(curl -s -XGET https://crates.io/api/v1/crates/lindera-cc-cedict-builder | jq -r 'select(.versions != null) | .versions[].num')
          if echo ${LINDERA_CC_CEDICT_BUILDER_VERSIONS} | grep ${LINDERA_CC_CEDICT_BUILDER_VERSION} >/dev/null; then
            echo "lindera-cc-cedict-builder ${LINDERA_CC_CEDICT_BUILDER_VERSION} has already published"
          else
            pushd lindera-cc-cedict-builder
            cargo publish --token ${{ secrets.CRATES_TOKEN }}
            popd
          fi
          sleep 20

      - name: Publish lindera-cc-cedict
        run: |
          LINDERA_CC_CEDICT_VERSION=$(cargo metadata --no-deps --format-version=1 | jq -r '.packages[] | select(.name=="lindera-cc-cedict") | .version')
          LINDERA_CC_CEDICT_VERSIONS=$(curl -s -XGET https://crates.io/api/v1/crates/lindera-cc-cedict | jq -r 'select(.versions != null) | .versions[].num')
          if echo ${LINDERA_CC_CEDICT_VERSIONS} | grep ${LINDERA_CC_CEDICT_VERSION} >/dev/null; then
            echo "lindera-cc-cedict ${LINDERA_CC_CEDICT_VERSION} has already published"
          else
            pushd lindera-cc-cedict
            cargo publish --token ${{ secrets.CRATES_TOKEN }}
            popd
          fi
          sleep 20

      - name: Publish lindera-dictionary
        run: |
          LINDERA_DICTIONARY_VERSION=$(cargo metadata --no-deps --format-version=1 | jq -r '.packages[] | select(.name=="lindera-dictionary") | .version')
          LINDERA_DICTIONARY_VERSIONS=$(curl -s -XGET https://crates.io/api/v1/crates/lindera-dictionary | jq -r 'select(.versions != null) | .versions[].num')
          if echo ${LINDERA_DICTIONARY_VERSIONS} | grep ${LINDERA_DICTIONARY_VERSION} >/dev/null; then
            echo "lindera-dictionary ${LINDERA_DICTIONARY_VERSION} has already published"
          else
            pushd lindera-dictionary
            cargo publish --token ${{ secrets.CRATES_TOKEN }}
            popd
          fi
          sleep 20

      - name: Publish lindera-tokenizer
        run: |
          LINDERA_TOKENIZER_VERSION=$(cargo metadata --no-deps --format-version=1 | jq -r '.packages[] | select(.name=="lindera-tokenizer") | .version')
          LINDERA_TOKENIZER_VERSIONS=$(curl -s -XGET https://crates.io/api/v1/crates/lindera-tokenizer | jq -r 'select(.versions != null) | .versions[].num')
          if echo ${LINDERA_TOKENIZER_VERSIONS} | grep ${LINDERA_TOKENIZER_VERSION} >/dev/null; then
            echo "lindera-tokenizer ${LINDERA_TOKENIZER_VERSION} has already published"
          else
            pushd lindera-tokenizer
            cargo publish --token ${{ secrets.CRATES_TOKEN }}
            popd
          fi
          sleep 20

      - name: Publish lindera-filter
        run: |
          LINDERA_FILTER_VERSION=$(cargo metadata --no-deps --format-version=1 | jq -r '.packages[] | select(.name=="lindera-filter") | .version')
          LINDERA_FILTER_VERSIONS=$(curl -s -XGET https://crates.io/api/v1/crates/lindera-filter | jq -r 'select(.versions != null) | .versions[].num')
          if echo ${LINDERA_FILTER_VERSIONS} | grep ${LINDERA_FILTER_VERSION} >/dev/null; then
            echo "lindera-filter ${LINDERA_FILTER_VERSION} has already published"
          else
            pushd lindera-filter
            cargo publish --token ${{ secrets.CRATES_TOKEN }}
            popd
          fi
          sleep 20

      - name: Publish lindera-analyzer
        run: |
          LINDERA_ANALYZER_VERSION=$(cargo metadata --no-deps --format-version=1 | jq -r '.packages[] | select(.name=="lindera-analyzer") | .version')
          LINDERA_ANALYZER_VERSIONS=$(curl -s -XGET https://crates.io/api/v1/crates/lindera-analyzer | jq -r 'select(.versions != null) | .versions[].num')
          if echo ${LINDERA_ANALYZER_VERSIONS} | grep ${LINDERA_ANALYZER_VERSION} >/dev/null; then
            echo "lindera-analyzer ${LINDERA_ANALYZER_VERSION} has already published"
          else
            pushd lindera-analyzer
            cargo publish --token ${{ secrets.CRATES_TOKEN }}
            popd
          fi
          sleep 20

      - name: Publish lindera
        run: |
          LINDERA_VERSION=$(cargo metadata --no-deps --format-version=1 | jq -r '.packages[] | select(.name=="lindera") | .version')
          LINDERA_VERSIONS=$(curl -s -XGET https://crates.io/api/v1/crates/lindera | jq -r 'select(.versions != null) | .versions[].num')
          if echo ${LINDERA_VERSIONS} | grep ${LINDERA_VERSION} >/dev/null; then
            echo "lindera ${LINDERA_VERSION} has already published"
          else
            pushd lindera
            cargo publish --token ${{ secrets.CRATES_TOKEN }}
            popd
          fi
          sleep 20

      - name: Publish lindera-cli
        run: |
          LINDERA_CLI_VERSION=$(cargo metadata --no-deps --format-version=1 | jq -r '.packages[] | select(.name=="lindera-cli") | .version')
          LINDERA_CLI_VERSIONS=$(curl -s -XGET https://crates.io/api/v1/crates/lindera-cli | jq -r 'select(.versions != null) | .versions[].num')
          if echo ${LINDERA_CLI_VERSIONS} | grep ${LINDERA_CLI_VERSION} >/dev/null; then
            echo "lindera-cli ${LINDERA_CLI_VERSION} has already published"
          else
            pushd lindera-cli
            cargo publish --token ${{ secrets.CRATES_TOKEN }}
            popd
          fi

#  push-container:
#    name: Push Docker container
#    strategy:
#      matrix:
#        os: [ ubuntu-latest ]
#        toolchain: [stable]
#    needs: [publish-crates]
#    runs-on: ${{ matrix.os }}
#    steps:
#      - name: Run checkout
#        uses: actions/checkout@v4
#
#      - name: Install toolchain
#        uses: dtolnay/rust-toolchain@v1
#        with:
#          toolchain: ${{ matrix.toolchain }}
#          components: rustfmt, clippy
#
#      - name: Fetch latest version
#        run: |
#          LINDERA_VERSION=$(cargo metadata --no-deps --format-version=1 | jq -r '.packages[] | select(.name=="lindera") | .version')
#          echo "LINDERA_VERSION=${LINDERA_VERSION}" >> $GITHUB_ENV
#
#      - name: Setup QUME
#        uses: docker/setup-qemu-action@v2
#
#      - name: Setup Docker build environment
#        uses: docker/setup-buildx-action@v2
#
#      - name: Docker login
#        uses: docker/login-action@v2
#        with:
#          username: ${{ secrets.DOCKERHUB_USERNAME }}
#          password: ${{ secrets.DOCKERHUB_TOKEN }}
#
#      - name: Build Docker image
#        uses: docker/build-push-action@v4
#        with:
#          push: true
#          build-args: |
#            LINDERA_VERSION=${{ env.LINDERA_VERSION }}
#          tags: |
#            linderamorphology/lindera:latest
#            linderamorphology/lindera:${{ env.LINDERA_VERSION }}
